Workflows/OMDashboardODATAFlow-F705CB10-FFD0-EC11-A7B5-000D3A8CC416.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_0b60e"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6b621f80-2cb2-46ee-a45a-a445e994dc56"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "token",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "flow",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Return_value(s)_to_Power_Virtual_Agents": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "20eef0b0-8508-44fd-9991-c27cb51fa970"
          },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "response": "@variables('result_set')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf291c72-5ad5-4c65-935f-0d4ec3ea6a1b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result_set",
                "type": "string"
              }
            ]
          }
        },
        "Switch": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "Partially confirmed or Unconfirmed Sales",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "status",
                    "value": "02"
                  }
                }
              }
            },
            "Case_2": {
              "case": "Fully confirmed On-Time Sales",
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "status",
                    "value": "03"
                  }
                }
              }
            },
            "Case_3": {
              "case": "Fully confirmed Later Sales",
              "actions": {
                "Set_variable_3": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "status",
                    "value": "01"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerBody()['text_1']",
          "metadata": {
            "operationMetadataId": "459d5d31-2b09-4c93-8f4a-b29f17c48f6d"
          },
          "type": "Switch"
        },
        "Initialize_variable_2": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "842866ad-249f-44ab-8a01-9aeb47fa2658"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "status",
                "type": "string"
              }
            ]
          }
        },
        "Invoke_an_HTTP_request": {
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef358667-6cdd-4d4e-a0d7-47367a1c9ae4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents_1",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/sap/opu/odata/sap/ATP_PRODALLOCOVERVIEW/C_ProdAllocOvwOrderItemTable?sap-client=505&$orderby=RequestedDeliveryDate%20asc%2CRequestedDeliveryDate%20desc&$filter=ProdAllocATPStatus%20eq%20'@{variables('status')}'&$format=json&$top=5",
              "request/headers": {
                "Authorization": "Bearer @{triggerBody()['text']}",
                "Accept": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "none"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Invoke_an_HTTP_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43d57d52-75e8-4739-bc22-79fb8b9a8358"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Invoke_an_HTTP_request')",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "ProdAllocAssignedOrder": {
                            "type": "string"
                          },
                          "OrderItem": {
                            "type": "string"
                          },
                          "ProdAllocAssignedOrderType": {
                            "type": "string"
                          },
                          "ProdAllocAssignedOrderItem": {
                            "type": "string"
                          },
                          "ProdAllocationPeriodStartDate": {
                            "type": "string"
                          },
                          "ProductAllocationPeriodEndDate": {
                            "type": "string"
                          },
                          "RequestedDeliveryDate": {
                            "type": "string"
                          },
                          "ProdAllocATPStatus": {
                            "type": "string"
                          },
                          "ProdAllocStatusCriticality": {
                            "type": "integer"
                          },
                          "ProdAllocATPStatusDesc": {
                            "type": "string"
                          },
                          "ProdAllocAssgdOrderTypeDesc": {
                            "type": "string"
                          },
                          "ProductAllocationObject": {
                            "type": "string"
                          },
                          "ProdAllocCharcValCombn": {
                            "type": "string"
                          },
                          "to_ProdAllocOvwOrderItemPerds": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "__metadata",
                          "ProdAllocAssignedOrder",
                          "OrderItem",
                          "ProdAllocAssignedOrderType",
                          "ProdAllocAssignedOrderItem",
                          "ProdAllocationPeriodStartDate",
                          "ProductAllocationPeriodEndDate",
                          "RequestedDeliveryDate",
                          "ProdAllocATPStatus",
                          "ProdAllocStatusCriticality",
                          "ProdAllocATPStatusDesc",
                          "ProdAllocAssgdOrderTypeDesc",
                          "ProductAllocationObject",
                          "ProdAllocCharcValCombn",
                          "to_ProdAllocOvwOrderItemPerds"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['d']?['results']",
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5e9fa61d-6009-45c2-b040-6edf1cfdcd88"
              },
              "type": "Compose",
              "inputs": "@first(split(last(split(items('Apply_to_each')?['RequestedDeliveryDate'], '(')),')'))"
            },
            "Compose_2": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "362999b9-c385-48b6-8ec4-fd66945eafc2"
              },
              "type": "Compose",
              "inputs": "\nOrder Item\u2028 is @{items('Apply_to_each')?['ProdAllocAssignedOrderItem']}\n\nRequested Delivery Date is @{addseconds('1970-1-1', Div(int(outputs('Compose')),1000),'yyyy-MM-dd')}\n\n_____________________________________"
            },
            "Append_to_string_variable": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "09da8fc9-f222-47ca-933c-bd0536d38baf"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "result_set",
                "value": "@outputs('Compose_2')"
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76ce65cd-5cd7-421a-b63c-7bc3685fe21e"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}