Workflows/ShortageReportODATAFlow-981FE7EE-29C6-EC11-A7B6-00224826A3F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_0b60e"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "721a8aca-f232-4193-8b8f-5758728de2b6"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "token",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "companyCode",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "purchaseOrder",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Return_value(s)_to_Power_Virtual_Agents": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3c5ad54-8b00-49c1-a0bf-64ba9f42c655"
          },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "response": "@variables('result_set')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Invoke_an_HTTP_request": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "51a14b7a-68d5-4bee-b7bc-18a90d8f1c91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/sap/opu/odata/sap/ZGGW_PTP_RP20014_PO_SHORTAGE_SRV/PoShortageSet?$filter=Companycode%20eq%20%27@{triggerBody()['text_1']}%27%20and%20Purchaseorder%20eq%20%27@{triggerBody()['text_2']}%27&$select=Purchaseorderitem,Material,Materialshorttext,Shortageqty&$format=json",
              "request/headers": {
                "Authorization": "Bearer @{triggerBody()['text']}",
                "Accept": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Invoke_an_HTTP_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f10b7540-f4fa-4add-a5c2-4ceb2c112325"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Invoke_an_HTTP_request')",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "Purchaseorderitem": {
                            "type": "string"
                          },
                          "Material": {
                            "type": "string"
                          },
                          "Materialshorttext": {
                            "type": "string"
                          },
                          "Shortageqty": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "__metadata",
                          "Purchaseorderitem",
                          "Material",
                          "Materialshorttext",
                          "Shortageqty"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a21234d8-3ca3-4f9d-a298-81928c13debd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result_set",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['d']?['results']",
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a4bfbc7b-0f2f-4b51-97cd-bcad92c1b63a"
              },
              "type": "Compose",
              "inputs": "\n**Item No @{items('Apply_to_each')?['Purchaseorderitem']}**\n\nMaterial is @{items('Apply_to_each')?['Material']} ( @{items('Apply_to_each')?['Materialshorttext']})\n\nShortage quantity is @{items('Apply_to_each')?['Shortageqty']}\n\n----------------------------------------------------------\n\n "
            },
            "Append_to_string_variable": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5b671bc-bd80-45e7-aeb6-1dbaa80f1038"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "result_set",
                "value": "@outputs('Compose')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2db36556-3341-4c24-80d8-a1068fe978ba"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}