Workflows/TrackPOODATAFlow-5E2BE42D-7ECF-EC11-A7B5-000D3A8CC416.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_0b60e"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "721a8aca-f232-4193-8b8f-5758728de2b6"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "token",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "purchaseOrder",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Return_value(s)_to_Power_Virtual_Agents": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3c5ad54-8b00-49c1-a0bf-64ba9f42c655"
          },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "response": "@variables('result_set')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Invoke_an_HTTP_request": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "51a14b7a-68d5-4bee-b7bc-18a90d8f1c91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents_1",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/sap/opu/odata/sap/C_PURCHASEORDER_FS_SRV/C_PurchaseOrderFs?$filter=PurchaseOrder%20eq%20%27@{triggerBody()['text_2']}%27&sap-client=505&sap-language=EN&$format=json",
              "request/headers": {
                "Authorization": "Bearer @{triggerBody()['text']}",
                "Content-Type": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Invoke_an_HTTP_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f10b7540-f4fa-4add-a5c2-4ceb2c112325"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Invoke_an_HTTP_request')",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "PurchaseOrder": {
                            "type": "string"
                          },
                          "PurchaseOrder_Text": {
                            "type": "string"
                          },
                          "PurchaseOrderType": {
                            "type": "string"
                          },
                          "PurchaseOrderType_Text": {
                            "type": "string"
                          },
                          "PurchaseOrderSubtype": {
                            "type": "string"
                          },
                          "PurchasingDocumentOrigin": {
                            "type": "string"
                          },
                          "PurchasingDocumentCategory": {
                            "type": "string"
                          },
                          "PurchasingDocumentType": {
                            "type": "string"
                          },
                          "CreatedByUser": {
                            "type": "string"
                          },
                          "CreationDate": {
                            "type": "string"
                          },
                          "PurchaseOrderDate": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "PurchasingDocumentDeletionCode": {
                            "type": "string"
                          },
                          "ReleaseIsNotCompleted": {
                            "type": "boolean"
                          },
                          "PurchasingCompletenessStatus": {
                            "type": "boolean"
                          },
                          "CompanyCode": {
                            "type": "string"
                          },
                          "CompanyCodeName": {
                            "type": "string"
                          },
                          "PurchasingOrganization": {
                            "type": "string"
                          },
                          "PurchasingOrganizationName": {
                            "type": "string"
                          },
                          "PurchasingGroup": {
                            "type": "string"
                          },
                          "PurchasingGroupName": {
                            "type": "string"
                          },
                          "Supplier": {
                            "type": "string"
                          },
                          "SupplierName": {
                            "type": "string"
                          },
                          "ManualSupplierAddressID": {
                            "type": "string"
                          },
                          "SupplierAddressID": {
                            "type": "string"
                          },
                          "SupplyingSupplier": {
                            "type": "string"
                          },
                          "SupplyingPlant": {
                            "type": "string"
                          },
                          "InvoicingParty": {
                            "type": "string"
                          },
                          "PaymentTerms": {
                            "type": "string"
                          },
                          "PaymentTerms_Text": {
                            "type": "string"
                          },
                          "CashDiscount1Days": {
                            "type": "string"
                          },
                          "CashDiscount2Days": {
                            "type": "string"
                          },
                          "NetPaymentDays": {
                            "type": "string"
                          },
                          "CashDiscount1Percent": {
                            "type": "string"
                          },
                          "CashDiscount2Percent": {
                            "type": "string"
                          },
                          "PaymentTermsDescription": {
                            "type": "string"
                          },
                          "IncotermsClassification": {
                            "type": "string"
                          },
                          "IncotermsClassification_Text": {
                            "type": "string"
                          },
                          "IncotermsTransferLocation": {
                            "type": "string"
                          },
                          "DocumentCurrency": {
                            "type": "string"
                          },
                          "PurchaseOrderNetAmount": {
                            "type": "string"
                          },
                          "PurchasingDocumentStatus": {
                            "type": "string"
                          },
                          "UserFullName": {
                            "type": "string"
                          },
                          "PurchasingDocumentStatusName": {
                            "type": "string"
                          },
                          "to_PurchaseOrderGoodsReceipt": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_PurchaseOrderItem": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_PurchaseOrderLimitItem": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_PurOrdRefPurConItm": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_PurOrdSuplrConfDisplay": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_PurReqItemByPurOrder": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "to_SuplInvPurOrdRef": {
                            "type": "object",
                            "properties": {
                              "__deferred": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "__metadata",
                          "PurchaseOrder",
                          "PurchaseOrder_Text",
                          "PurchaseOrderType",
                          "PurchaseOrderType_Text",
                          "PurchaseOrderSubtype",
                          "PurchasingDocumentOrigin",
                          "PurchasingDocumentCategory",
                          "PurchasingDocumentType",
                          "CreatedByUser",
                          "CreationDate",
                          "PurchaseOrderDate",
                          "Language",
                          "PurchasingDocumentDeletionCode",
                          "ReleaseIsNotCompleted",
                          "PurchasingCompletenessStatus",
                          "CompanyCode",
                          "CompanyCodeName",
                          "PurchasingOrganization",
                          "PurchasingOrganizationName",
                          "PurchasingGroup",
                          "PurchasingGroupName",
                          "Supplier",
                          "SupplierName",
                          "ManualSupplierAddressID",
                          "SupplierAddressID",
                          "SupplyingSupplier",
                          "SupplyingPlant",
                          "InvoicingParty",
                          "PaymentTerms",
                          "PaymentTerms_Text",
                          "CashDiscount1Days",
                          "CashDiscount2Days",
                          "NetPaymentDays",
                          "CashDiscount1Percent",
                          "CashDiscount2Percent",
                          "PaymentTermsDescription",
                          "IncotermsClassification",
                          "IncotermsClassification_Text",
                          "IncotermsTransferLocation",
                          "DocumentCurrency",
                          "PurchaseOrderNetAmount",
                          "PurchasingDocumentStatus",
                          "UserFullName",
                          "PurchasingDocumentStatusName",
                          "to_PurchaseOrderGoodsReceipt",
                          "to_PurchaseOrderItem",
                          "to_PurchaseOrderLimitItem",
                          "to_PurOrdRefPurConItm",
                          "to_PurOrdSuplrConfDisplay",
                          "to_PurReqItemByPurOrder",
                          "to_SuplInvPurOrdRef"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a21234d8-3ca3-4f9d-a298-81928c13debd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result_set",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['d']?['results']",
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a4bfbc7b-0f2f-4b51-97cd-bcad92c1b63a"
              },
              "type": "Compose",
              "inputs": "@first(split(last(split(items('Apply_to_each')?['PurchaseOrderDate'], '(')),')'))"
            },
            "Append_to_string_variable": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5b671bc-bd80-45e7-aeb6-1dbaa80f1038"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "result_set",
                "value": "@outputs('Compose_2')"
              }
            },
            "Compose_2": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "40e26cea-fd49-4a8e-994f-74dd9726eb27"
              },
              "type": "Compose",
              "inputs": "\nPurchase Order is @{items('Apply_to_each')?['PurchaseOrder']} ( @{items('Apply_to_each')?['PurchaseOrder_Text']} )\n\nPurchase Order Type is @{items('Apply_to_each')?['PurchaseOrderType']} (\n@{items('Apply_to_each')?['PurchaseOrderType_Text']} )\n\nCreated By User is @{items('Apply_to_each')?['CreatedByUser']}\n\nPurchase Order Date is @{addseconds('1970-1-1', Div(int(outputs('Compose')),1000),'yyyy-MM-dd')}\n\nCompany Code is @{items('Apply_to_each')?['CompanyCode']} ( @{items('Apply_to_each')?['CompanyCodeName']} )\n\nPurchasing Organization is @{items('Apply_to_each')?['PurchasingOrganization']} (  @{items('Apply_to_each')?['PurchasingOrganizationName']} )\n\nPurchasing Group is @{items('Apply_to_each')?['PurchasingGroup']} ( @{items('Apply_to_each')?['PurchasingGroupName']} )\n\nSupplier is @{items('Apply_to_each')?['Supplier']} ( @{items('Apply_to_each')?['SupplierName']} )\n"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2db36556-3341-4c24-80d8-a1068fe978ba"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}