Workflows/UpcomingDeliveriesPlannedODATAFlow-B73A2217-3DC5-EC11-A7B6-00224826A3F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0cb4613a-d88f-4349-a2cf-fb104a201bab"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "token",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "delivery_duration",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Return_value(s)_to_Power_Virtual_Agents": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3c5ad54-8b00-49c1-a0bf-64ba9f42c655"
          },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "response": "Total Count is @{body('Parse_JSON')?['d']?['__count']}\n@{variables('result_set')}\n"
            },
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Call_SAP_Odata_call": {
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51a14b7a-68d5-4bee-b7bc-18a90d8f1c91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/sap/opu/odata/sap/MM_PUR_POITEMS_MONI_SRV/C_PurchaseOrderItemMoni(P_DisplayCurrency=%27USD%27)/Results?sap-client=505&$select=PurchaseOrder,PurchaseOrderItem,Material,MaterialName,Supplier,SupplierName,ScheduleLineDeliveryDate,ScheduleLineOpenQty,OrderQuantity,StillToBeDeliveredQuantity,PurchaseOrderType,Plant,PlantName,IsReturnsItem,DeliveryStatus,DisplayCurrency,IsCompletelyDelivered,NetAmount,StillToInvoiceValue,DeliveryDateCriticality,PurchaseOrderQuantityUnit,PurchaseOrderTypeName,PurchaseOrderItemCategory,DeliveryStatusDescription,UnitOfMeasureLongName&$filter=(((IsCompleted%20eq%20false)%20and%20((PlannedDeliveryDuration%20eq%20%27@{variables('duration')}%27))))&$format=json&$inlinecount=allpages\n",
              "request/headers": {
                "Authorization": "Bearer @{triggerBody()['text']}",
                "Accept": "application/json"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Call_SAP_Odata_call": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f10b7540-f4fa-4add-a5c2-4ceb2c112325"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Call_SAP_Odata_call')",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "__count": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "PurchaseOrder": {
                            "type": "string"
                          },
                          "PurchaseOrderItem": {
                            "type": "string"
                          },
                          "PurchaseOrderType": {
                            "type": "string"
                          },
                          "PurchaseOrderTypeName": {
                            "type": "string"
                          },
                          "Supplier": {
                            "type": "string"
                          },
                          "SupplierName": {
                            "type": "string"
                          },
                          "Material": {
                            "type": "string"
                          },
                          "MaterialName": {
                            "type": "string"
                          },
                          "PurchaseOrderItemCategory": {
                            "type": "string"
                          },
                          "Plant": {
                            "type": "string"
                          },
                          "PlantName": {
                            "type": "string"
                          },
                          "IsReturnsItem": {
                            "type": "boolean"
                          },
                          "DeliveryDateCriticality": {
                            "type": "integer"
                          },
                          "ScheduleLineDeliveryDate": {
                            "type": "string"
                          },
                          "ScheduleLineOpenQty": {
                            "type": "string"
                          },
                          "DeliveryStatus": {
                            "type": "string"
                          },
                          "DeliveryStatusDescription": {
                            "type": "string"
                          },
                          "OrderQuantity": {
                            "type": "string"
                          },
                          "NetAmount": {
                            "type": "string"
                          },
                          "StillToBeDeliveredQuantity": {
                            "type": "string"
                          },
                          "StillToInvoiceValue": {
                            "type": "string"
                          },
                          "PurchaseOrderQuantityUnit": {
                            "type": "string"
                          },
                          "UnitOfMeasureLongName": {
                            "type": "string"
                          },
                          "DisplayCurrency": {
                            "type": "string"
                          },
                          "IsCompletelyDelivered": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "__metadata",
                          "PurchaseOrder",
                          "PurchaseOrderItem",
                          "PurchaseOrderType",
                          "PurchaseOrderTypeName",
                          "Supplier",
                          "SupplierName",
                          "Material",
                          "MaterialName",
                          "PurchaseOrderItemCategory",
                          "Plant",
                          "PlantName",
                          "IsReturnsItem",
                          "DeliveryDateCriticality",
                          "ScheduleLineDeliveryDate",
                          "ScheduleLineOpenQty",
                          "DeliveryStatus",
                          "DeliveryStatusDescription",
                          "OrderQuantity",
                          "NetAmount",
                          "StillToBeDeliveredQuantity",
                          "StillToInvoiceValue",
                          "PurchaseOrderQuantityUnit",
                          "UnitOfMeasureLongName",
                          "DisplayCurrency",
                          "IsCompletelyDelivered"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Initialize_duration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e06e0b83-76b9-4345-9f7d-6f0f5f83321f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "duration",
                "type": "string"
              }
            ]
          }
        },
        "Switch": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "Today",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "duration",
                    "value": "2"
                  }
                }
              }
            },
            "Case_2": {
              "case": "Tomorrow",
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "duration",
                    "value": "3"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_variable_3": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "duration",
                  "value": "5"
                }
              }
            }
          },
          "expression": "@triggerBody()['text_1']",
          "metadata": {
            "operationMetadataId": "a0bb5876-7322-4542-8e01-32350a4093f7"
          },
          "type": "Switch"
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['d']?['results']",
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "559b79ae-c4a3-4f9d-bc2a-2bbbcd33f36f"
              },
              "type": "Compose",
              "inputs": "\nPurchase Order is @{items('Apply_to_each')?['PurchaseOrder']}\n\nPurchase Order Item is @{items('Apply_to_each')?['PurchaseOrderItem']}\n\nPurchase Order Type is @{items('Apply_to_each')?['PurchaseOrderType']} (@{items('Apply_to_each')?['PurchaseOrderTypeName']} )\n\nMaterial is @{items('Apply_to_each')?['Material']} ( @{items('Apply_to_each')?['MaterialName']} )\n\nPlant is @{items('Apply_to_each')?['Plant']} ( @{items('Apply_to_each')?['PlantName']} )\n\nDelivery Date Criticality is @{items('Apply_to_each')?['DeliveryDateCriticality']}\n\nSchedule Line Open Qty is @{items('Apply_to_each')?['ScheduleLineOpenQty']}\n\nDelivery Status is @{items('Apply_to_each')?['DeliveryStatus']} ( @{items('Apply_to_each')?['DeliveryStatusDescription']} )\n\nOrder Quantity is @{items('Apply_to_each')?['OrderQuantity']}\n\nNet Amount is @{items('Apply_to_each')?['NetAmount']}\n\nStill To Be Delivered Quantity is @{items('Apply_to_each')?['StillToBeDeliveredQuantity']}\n\n_______________________________\n                             "
            },
            "Append_to_string_variable": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7e50128-6d67-40d0-9f8a-517d5b331481"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "result_set",
                "value": "@outputs('Compose')"
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66639dad-d835-4533-a950-d0eab656452f"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_duration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "267003bb-67e9-4862-a887-6d56c9d6e60b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result_set",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}